@primary-color: #0397dd; 
@secondary-color: #ffea91;  
@third-color: #a4b9cc;
@gray: #656668;
/*
FUNÇÕES PADRÕES START
*********************************************************************/
.border-radius(@style) {
    -webkit-border-radius: @style;
    -moz-border-radius: @style;
    border-radius: @style;
}
.box-shadow(@style, @c) when (iscolor(@c)) {
    -webkit-box-shadow: @style @c;
    box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
    .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.clear, .first{
    clear:both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
/*
NON-RESPONSIVE START
**********************************************************************************************/
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO START */
.container {max-width: none !important;width: 960px;}
.navbar-nav > li > a {padding-top: 15px;padding-bottom:15px;}
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO END */
/* Finesse the page header spacing */.page-header {margin-bottom: 30px;}.page-header .lead {margin-bottom: 10px;}/* Non-responsive overrides** Utilitze the following CSS to disable the responsive-ness of the container,* grid system, and navbar.*//* Reset the container *//* Always float the navbar header */.navbar-header {float: left;}/* Undo the collapsing navbar */.navbar-collapse {display: block !important;height: auto !important;padding-bottom: 0;overflow: visible !important;}.navbar-toggle {display: none;}.navbar-collapse {border-top: 0;}.navbar-brand {margin-left: -15px;}/* Always apply the floated nav */.navbar-nav {float: left;margin: 0;}.navbar-nav > li {float: left;}/* Redeclare since we override the float above */.navbar-nav.navbar-right {float: right;}/* Undo custom dropdowns */.navbar .navbar-nav .open .dropdown-menu {position: absolute;float: left;background-color: #fff;border: 1px solid #cccccc;border: 1px solid rgba(0, 0, 0, 0.15);border-width: 0 1px 1px;border-radius: 0 0 4px 4px;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);}.navbar-default .navbar-nav .open .dropdown-menu > li > a {color: #333;}.navbar .navbar-nav .open .dropdown-menu > li > a:hover,.navbar .navbar-nav .open .dropdown-menu > li > a:focus,.navbar .navbar-nav .open .dropdown-menu > .active > a,.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {color: #fff !important;background-color: @primary-color !important;}.navbar .navbar-nav .open .dropdown-menu > .disabled > a,.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {color: #999 !important;background-color: transparent !important;}
/**********************************************************************************************
NON-RESPONSIVE END
*/
::selection {background-color: @primary-color;color: #FFF;}
::-moz-selection {background-color: @primary-color;color: #FFF;}
small {display: inline-block;line-height: 1.1;}
textarea {resize:vertical;}
a, button  {transition: all 0.25s ease 0s;}
/*
FONTS START
**********************************************************************************************/
.site-header .nav {font-family: 'MyriadproRegular', Arial, sans-serif;font-weight: normal;}
.box-infografico .box-title {font-family: 'MyriadproLight', Arial, sans-serif;font-weight: normal;}
.page-header .normal, .box-infografico strong, .btn, .ycon-ribbon, .date .day, .date .year, .site-header .nav .active {font-family: 'MyriadproBold', Arial, sans-serif;font-weight: normal;}
.hand {font-family: 'angelfaceregular', Arial, sans-serif;font-weight: normal;font-size: 2.2em;display: inline-block;line-height: .7;}
.box-infografico .right {font-family: 'dirty_headlineregular', Arial, sans-serif;font-weight: normal;}
.box-infografico .left .line-2 {font-family: 'cubanoregular', Arial, sans-serif;font-weight: normal;}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
.extra-header, .extra-central, .extra-footer {min-width: 960px;}
.extra-header {
	.site-header {}
	.navbar {border:0;margin:0;.border-radius(0);}
    .navbar-header {
        + .nav {margin-left: 40px;}
    }
    .navbar-brand {padding:12px 10px;}
    .nav {
        font-size: 16px;text-transform: uppercase;padding:24px 0;
        > li {
            a {padding-top:5px;padding-bottom: 5px;}
            &.active {
                a {border:2px solid #afafaf;.border-radius(5px);}
            }
        }
    }
    .navbar-right {
        font-size: 22px;padding:21px 0;
        > li {
            a {color: #64acdc;padding-top:10px;padding-bottom: 10px;}
            + li {background: url(../imagem/site/dotted-v.png) repeat-y left top;}
        }
    }
    .contato {
        text-transform: lowercase;text-align: center;line-height: .9;
        a {padding-top:2px !important;padding-bottom: 2px !important;}
        .fa {color: #afafaf;font-size: 24px;font-weight: normal;}
        span {display: block;font-size: 14px;line-height: .9;}
    }
}
.extra-central {
	.site-central {}
}
.extra-footer {
    .site-contato {
        background: #edeff2;padding:72px 0 60px;
        .media-list {
            .fa {color: #b2b3b5;}
        }
        .site-title {
            font-size: 36px;margin-top:0;
            .hand {display: block;font-size: 102px;line-height: .6;}
        }
        .site-subtitle {font-size: 42px;}
        .text-phone {font-size: 56px;line-height: .6;letter-spacing: -1px;}
        form {
            margin:0 0 20px;position: relative;
            .mensagem {background: #FFF url(../imagem/site/envelope.png) no-repeat 30px 28px;padding:30px 15px 15px 84px}
            .form-content {
                .border-radius(10px);overflow: hidden;
                .arrow {position: absolute;left: -9px;top: 34px;}
            }
            .form-group {
                margin:0;
                + .form-group {border-top:1px solid #e8edf8;}
            }
            .half {
                float: left;width: 50%;border-top:1px solid #e8edf8;
                + .half {border-left: 1px solid #e8edf8;}
            }
            .form-control {.border-radius(0);}
            input.form-control {height: 60px;}
            .btn {border-width: 3px;.border-radius(5px);margin:20px 0;display: block;}
        }
    }
    .social-footer {
        a {
            color: #5aa2cf;
            + a {margin-left: 30px;}
        }
    }
    .site-newsletter {
        background: url(../imagem/site/bg-newsletter.png) no-repeat center top #64acdc;color: #FFF;
        .box-header {padding: 52px 0 0 42px;}
        .box-title {font-size: 19px;margin:0;}
        .form-inline {
            .content {background: #FFF;.border-radius(5px);}
            .form-control {width: 480px;}
            .btn {font-size: 25px;}
        }
        .box-content {padding:42px 0 32px;}
    }
    .site-footer {
        text-align: center;background: url(../imagem/site/bg-footer.jpg) no-repeat center;background-size:cover;
        &, a {color: #FFF;}
        .extra {background: url(../imagem/site/bg-tooth.png) repeat-x top;}
        .content {padding:176px 80px 114px;}
    }
    .logo-footer {margin-bottom: 30px;}
    .parceiros {
        margin:30px 0;
        a, span {
            display: inline-block;vertical-align: middle;
            + a, + span {margin-left: 30px;}
        }
    }
    .direitos {font-size: 14px;}
}
.interna {
    .site-central {padding:0 0 40px;}
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'], [class^='lista-'], [class^='menu-'], [class^='menu-'] ul, .cycle-slideshow {list-style:none;margin-bottom:0;padding-left:0;}
.btn {text-transform: uppercase;}
.btn-gray {background: transparent;color:#76b8e1;border:3px solid #f0f0f0;.border-radius(5px);padding:10px 20px;}
.btn-circle {-webkit-border-radius: 150px;-moz-border-radius: 150px;border-radius: 150px;}

.box-banner {
    background: url(../imagem/site/banner-01.jpg) no-repeat center top;color: #FFF;text-align: center;
    a {color: @secondary-color;}
    &, .cycle-slideshow, .cycle-slideshow li {width: 100%;height: 490px;}
    .cycle-slideshow {position: relative;}
    .site-header {font-size: 36px;margin:0 0 10px;}
    .content {position: absolute;left: 0;right: 0;bottom: 0;padding:0 80px 84px;}
}

.box-necessidade {
    background: url(../imagem/site/bg-necessidade.jpg) no-repeat bottom center #edeff2;text-align: center;
    .box-title {margin:34px 0;}
}
.box-atualize {background: url(../imagem/site/bg-atualize.png) no-repeat center top;padding:0 0 50px;}
.box-agenda {
    background: url(../imagem/site/bg-agenda.png) no-repeat center -40px;text-align: center;width:306px;margin:0 0 0 auto;
    .box-header {padding:66px 0 20px;}
    .box-title {margin:0;font-size: 70px;}
    .lista-agenda {
        > li {
            background: no-repeat center top;height: 224px;padding:40px 20px 0;
            &:nth-child(odd) {background-image:url(../imagem/site/bg-evento-home-odd.png);}
            &:nth-child(even) {background-image:url(../imagem/site/bg-evento-home-even.png);}
            &:nth-child(odd):last-child {background-image: url(../imagem/site/bg-evento-home-odd-last.png);}
            &:nth-child(even):last-child {background-image: url(../imagem/site/bg-evento-home-even-last.png);}
            + li {margin-top: -15px;}
        }
        .title {font-size: 18px;margin:10px 0;}
    }
}
.box-noticias {
    .box-header {padding:72px 0 52px;}
    .box-title {font-size: 32px;color: #646566;margin:0;}
}
.box-infografico {
    background: url(../imagem/site/bg-infografico.jpg) no-repeat center bottom;height: 350px;
    .container {position: relative;}
    .box-header {background: url(../imagem/site/dotted-yellow.png) repeat-x center 30px;text-align: center;text-transform: uppercase;position: absolute;left: 0;right: 0;top: 30px;}
    .box-title {
        font-size: 18px;display: inline-block;background: url(../imagem/site/bg-infografico-header-left.png) no-repeat left top;padding-left: 38px;margin:0;
        > span, > span > span {display: inline-block;}
        > span {
            background: url(../imagem/site/bg-infografico-header-right.png) no-repeat right top;padding-right: 38px;
            > span {
                height: 65px;background: url(../imagem/site/bg-infografico-header.png) repeat-x top;padding:20px 20px;
            }
        }
    }
    .box-content {
        color: #FFF;
        .left, .middle, .right {float: left;}
        .left, .right {
            width: 200px;padding:140px 0 0;
            .hand {font-size: 95px;}
        }
        .middle {
            width: 540px;background: url(../imagem/site/bg-infografico-fora.png) repeat-x left 178px #c63f3f;border-bottom: 10px solid #b83b3c;
            &, .dentro {height: 350px;}
            .dentro {background: url(../imagem/site/bg-infografico-dentro.png) repeat-x left 178px #8dc63f;border-bottom: 10px solid #83ba3c;}
        }
        .line-1, .line-2 {display: block;line-height: .8;}
        .line-1 {
            font-size: 90px;
            span {font-size: 61px;}
        }
        .left {
            .line-2 {font-size: 17px;text-transform: uppercase;text-align: center;width: 140px;height: 23px;color: #8dc63f;background: url(../imagem/site/ribbon-white.png) no-repeat center top;line-height: 23px;margin:0 0 -10px;}
        }
        .right {
            padding-left: 40px;
            .line-2 {font-size: 25px;margin:10px 0 -10px;}
        }
    }
}
.card {
    margin:0 0 90px;overflow: hidden;
    &, .static, .hover {height: 460px;}
    .static {
        background: #FFF;.border-radius(10px);padding:40px 28px;position: relative;
        .media-heading {
            color: @third-color;font-size: 24px;font-weight: normal;
            .hand {color: #727272;display: block;}
        }
        .plus {.border-radius(50px);display: inline-block;width: 41px;height: 41px;background: #c1e1f5;text-align: center;line-height: 39px;position: absolute;left: 50%;margin-left: -20px;bottom:30px;}
    }
    .hover {
        background: #47b3e3;position: relative;.border-radius(10px);position: relative;overflow: hidden;color: #FFF;padding:0px 28px;font-size: 18px;
        .imagem {margin-top:-84px;}
        .media-heading {background: url(../imagem/site/icon/aspas.png) no-repeat center;height: 50px;font-size: 20px;text-transform: uppercase;padding:15px 0;}
    }
}

.cycle-card {
    .cycle-slideshow, .cycle-slideshow li {height: 252px;}
    .cycle-slideshow {
        background: url(../imagem/site/dotted-white.png) repeat-x bottom;margin:0 0 26px;
        .content {display: inline-block;max-width: 96%;vertical-align: middle;}
    }
    .cycle-prev, .cycle-next {
        &.disabled {-webkit-opacity: .5;-moz-opacity: .5;-ms-opacity: .5;-o-opacity: .5;opacity: .5;filter:alpha(opacity=50);}
    }
    .cycle-next {margin-left: 10px;}
}

.cycle-slideshow {
    li {
        * {white-space: normal;}
    }
}
.cycle-nav {
	span {display: inline-block;cursor: pointer;}
}
.date {
    display: inline-block;
    > span {vertical-align: middle;}
    span {display: inline-block;}
    .date-start, .date-end {text-align: center;}
    .day, .month {display: block;line-height: .7;}
    .trace {font-size: 36px;margin-left: 10px;}
    .day {font-size: 41px;}
    .month {font-size: 36px;}
}


.form-control {box-shadow:none;}

.imagem {display: inline-block;overflow: hidden;max-width: 100%;}
.imagem-rounded {-webkit-border-radius: 150px;-moz-border-radius: 150px;border-radius: 150px;}
.inline-block {display:inline-block;}
[class^='ycon-'], [class*='ycon-'] {background-repeat:no-repeat;vertical-align:middle;display:inline-block;background-image:url(../imagem/site/ycon.png);}

.lista-agenda-interna {
    background: url(../imagem/site/bg-agenda-interna.png) no-repeat 38px top;padding:40px 0 0;
    > li {
        .pull-left {padding-right: 50px;}
        .date {background: no-repeat center top;height: 176px;text-align:center;padding:22px 22px 0;width: 236px;color: #646566;}
        &:nth-child(odd) {
            .date {background-image:url(../imagem/site/bg-evento-odd.png);}
        }
        &:nth-child(even) {
            .date {background-image:url(../imagem/site/bg-evento-even.png);}
        }
        &:nth-child(odd):last-child {
            .date {background-image: url(../imagem/site/bg-evento-odd-last.png);}
        }
        &:nth-child(even):last-child {
            .date {background-image: url(../imagem/site/bg-evento-even-last.png);}
        }
        + li {margin-top: -12px;}
    }
    .year {display: block;text-align: center;}
    .title {font-size: 22px;}
    .media-body {padding-top:30px;}
}
.lista-noticias {
    margin:0 0 30px;
    > li {
        + li {
            margin-top:25px;padding-top:25px;background: url(../imagem/site/dotted.png) repeat-x top left;
            .media-body {}
        }
    }
    .title {font-size: 56px;}
    .imagem {width: 177px;height: 177px;background: #ebebeb no-repeat center;background-size:cover;.border-radius(150px);display: block;}
}

.noticia-title {font-size: 70px;margin:40px 0 0;}
.noticia-resumo {font-size: 28px;color: #bebebe;margin:0 0 20px;}


.page-header {
    background: url(../imagem/site/bg-header.jpg) no-repeat center top;height: 241px;margin:0;padding:52px 0;border:0;
    h1, h2, h3 {
        margin:0;text-align: center;font-size: 94px;display: block;
        &, a {color: #FFF;}
        > span {display: inline-block;vertical-align: middle;}
        .normal {font-size: 42px;}
    }
}
.page-subheader {
    background: url(../imagem/site/bg-write.png) no-repeat left bottom;min-height: 142px;margin:20px 0 32px;padding:66px 0px 30px;border:0;
    h1, h2, h3 {
        margin:0;text-align: left;font-size: 32px;display: block;
        &, a {color: #646566;}
    }
}
.pixel {width: 100%;height: 100%;}

.ycon-ribbon {color: #FFF;text-align: center;font-size: 16px;text-transform: uppercase;padding:8px 0;}

.space {width:1%;display:inline-block;height:100%;vertical-align:middle;}
.resumo {font-size: 18px;text-transform: uppercase;color: #d1d1d1;text-align: center;background: url(../imagem/site/bg-resumo.png) no-repeat center top;height: 99px;padding-top:30px;margin:0 0 30px;}
.relative {position: relative;}
.pagination {
    width: 100%;text-align: center;
    > li {
        display: inline-block;
        a, span {border:0;}
    }
}

.text-content {
    padding:60px 0;
    .media {
        .pull-left {padding-right: 50px;}
    }
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/

/**********************************************************************************************
JQUERY UI END
*/
@media print {

}
@media (max-width: 767px) {
 /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
 /*#GERAL:before {content:"MOBILE";}*/
}
@media (min-width: 768px) and (max-width: 980px) {

}
@media (min-width: 981px) and (max-width: 1200px) {
 /*#GERAL:before {content:"ACIMA DE TABLET";}*/
}